POSTGRES_ENGINE=postgresql_psycopg2
POSTGRES_DB=bookso
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=

STRIPE_API_PUBLIC_KEY=pk_test_51SFCXaFCQyfyO65gvjo9nvtU29OgxUQv450Mfm7k2YMGyI5WwrqTs4ffP5j2fr3XYtxcGms3ZrEvsi31Spx0mdhP000KJgQMGz
STRIPE_API_SECRET_KEY=